{% extends 'partials/layout.twig' %}

{% block content %}

    <ul id="customerList">
        {% for customer in customers %}
            <li class="customer">
                <a href="/customers/{{ customer.id }}">
                    {{ customer.first_name }}
                    {{ customer.last_names }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <ul id="actionList">
        <li>
            <a href="/customers/new">Crear cliente</a>
        </li>
        {% if user.is_admin %}
            <li>
                <a href="/users">Gestionar usuarios</a>
            </li>
        {% endif %}
    </ul>

{% endblock %}
