{% extends 'partials/layout.twig' %}

{% block content %}

    <ul id="customerList">
        {% for customer in customers %}
            <li class="customer">
                <a href="/customers/{{ customer.id }}">
                    {{ customer.first_name }}
                    {{ customer.last_names }}
                </a>
            </li>
        {% endfor %}
    </ul>

    {% if not user.is_read_only %}
        <ul id="actionList">
            <li>
                <a href="/customers/new">Crear cliente</a>
            </li>
        </ul>
    {% endif %}

{% endblock %}
