{% extends 'partials/layout.twig' %}

{% block content %}

    <h2>Crear una nueva factura para {{ customer.first_name }}
        {{ customer.last_names }}</h2>

    {# TODO seguir aquí #}

    {% include 'partials/errorList.twig' %}

{% endblock %}
