{% extends 'partials/layout.twig' %}

{% block content %}

    <h2>Crear nuevo usuario</h2>

    <form action="/users" method="post">

        <label for="name">Nombre de usuario:</label>
        <input type="text" id="name" name="name" required>

        <br />

        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required>

        <br />

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <br />

        <label for="is_admin">El usuario tiene permisos de
            administrador:</label>
        <input type="checkbox" id="is_admin" name="is_admin">

        <br />

        <input type="submit" value="Crear usuario">

    </form>

    {% include 'partials/errorList.twig' %}

{% endblock %}
