<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">

    <title>EZ Customers</title>
    <meta name="description" content="EZ Customers">
    <meta name="author" content="Pablo Rodríguez">

    <link rel="stylesheet" href="/static/index.css"/>
</head>
<body>
<div id="content">
    <h1>
        <a href="/">EZ Customers</a>
    </h1>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
